.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', 'sans-serif';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clip-path-polygon {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.chat-pointer {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #2E95ED;
  top: 0;
  right: -8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-message-container {
  margin-bottom: 8px;
}

.image-message-container img {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
}

/* Outer container styling */
.custom-audio-player {
  border-radius: 0.75rem;
  background-color: #f9fafb; /* Tailwind's gray-50 */
  height: 5rem;
}

/* Control buttons */
.custom-audio-player .rhap_main-controls-button {
  color: #3b82f6 !important; /* Tailwind's blue-500 */
  font-size: 1.5rem !important;
}

/* Progress bar */
.custom-audio-player .rhap_progress-bar {
  background-color: #e5e7eb; /* gray-200 */
  height: 6px;
  border-radius: 9999px;
}
.custom-audio-player .rhap_progress-filled {
  background-color: #3b82f6 !important;
}
.custom-audio-player .rhap_progress-indicator {
  background-color: #3b82f6 !important;
}

/* Hide skip buttons */
.custom-audio-player .rhap_jump-forward-button,
.custom-audio-player .rhap_jump-backward-button {
  display: none;
}
