.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', 'sans-serif';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clip-path-polygon {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.chat-pointer {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #2E95ED;
  top: 0;
  right: -8px;
}

.background-container {
  background-image: url('http://localhost:5002/uploads/whatsapp-wallpaper.jpg');
  background-size: cover; /* Makes sure the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image does not repeat */
  min-height: 100vh; /* Ensures the background covers the full viewport height */
  display: flex;
  flex-direction: column;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
